@import "reset";
@import "mixin";
a{
  text-decoration: none;
}
input{
  outline: none;
}
button{
  outline: none;
}
html,body{
  height: 4300px;
  
}
body{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #19435F;
}


// 左菜单
#left_menu{
  width: 220px;
  height: 1000px;
  // background: red;
  margin:100px 0 0 30px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  img{
    width: 100%;
    // height: 150px;
  }
  div{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 16px;
    font-size: 12px;
    padding: 5px 0 0 10px;
    a{
      padding: 3px; 
      color: yellowgreen;
      &:hover{
        color: green;
      }
    }
  }

}
// 右占位
#right_menu{
  width: 220px;
  height: 1000px;
  // background: red;
  margin: 100px 30px 0 0px;
}
// 中间
.container{
  width: 940px;
  height: 4300px;
  background: #19435F;
}

.header{
  width: 940px;
  height: 104px;
  background: black;
  color: grey;
  position: relative;
  >a{
    width: 176px;
    height: 44px;
    position: absolute;
    top:30px;
    left:5px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  #nav1{
    height: 68px;
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 200px;

    li{
      height: 68px;
      width: 42px;
      padding: 45px 7px 7px 7px;
      font-size: 14px;
      text-align: center;
      line-height: 68px;
      .jump1{
        display:none;
        // height: 200px;
        width: 100px;
        >a{
          height: 30px;
          width: 80px;
          font-size: 12px;
          margin: 0;
          padding:0;
          line-height: 30px;
          padding-left: 10px;
          text-align: left;
          color:white;
        }
      }
      &:hover{
        color: white;
        .jump1{
          display:flex;
          flex-flow: column;
          justify-content: space-around;
          align-items: flex-start;
          background: black;
          position: absolute; 
          z-index: 10;
        }
      } 
    }
  }
  .l_l{
    width: 80px;
    height: 30px;
    margin-top: 10px;
    float: left;
    position:absolute;
    top:0;
    right: 0;
    li{
      height: 30px;
      font-size: 14px;
      float: left;
      display: flex;
      padding-left: 5px;
      position: relative;
      a{
        width: 35px;
        height: 14px;
        border-right:1px white solid;
        padding-right: 5px;
        color: grey;
      }
      #langue{
        display: none;
        width: 120px;
        position:absolute;
        z-index: 10;
        right: 0;
        top:30px;
        background: black;
        color: white;
        // border:1px solid grey;
        li{
          height: 30px;
          font-size: 14px;
          width: 120px;
          line-height: 30px;
          text-align: left;
          padding-left: 10px;
        }

      }
      &:hover #langue{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
      }    
    }
  }
}


// 主体
.content{
  height: 66px;
  width: 100%;
  position: relative;
  // 购物车
  #goodsBasket{
    position: absolute;
    right: 0;
    top: 0;
    // width: 50px;
    padding: 0 25px;
    background: yellowgreen;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    margin: 7px 0px 4px ;
  }
  // 导航和搜索框
  #nav_search{
    height: 35px;
    width: 100%;
    background: #377096;
    margin-top: 35px;
    // overflow: hidden;
    position: absolute;
    // top: 35px;
    #nav2{
      height: 35px;
      width: 436px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      li{
        font-size: 13px;
        padding: 0 15px;
        line-height: 35px;
        text-align: center;
        border-right: 1px solid black;
        >a{
          height: 100%;
          width: 100%;
          color: #9FA6A6;
          
        }
        .jump2{
          max-height: 300px;
          // width: 400px;
          // max-width: 400px;
          display: none;
          position: absolute;
          left: 0;
          background: #fff;
          line-height: 30px;
          text-align: left;
          flex-flow: column wrap;
          justify-content: flex-start;
          align-items: flex-start;
          padding-left: 5px;
          >a{
            color: black;
            font-size: 12px;
            width: 100px;
          }
          
        }
        #jump2_f{
          width: 100px;
        }
        #jump2_s{
          width: 400px;
        }
        &:hover{
          background: white;
          >a{
            color: black;
            width: 100px;
          }
          .jump2{
            display:flex;
            z-index: 10;
            a:hover {
              background: black;
              color:white;
            }
          }
        } 
      }
    }
    #search{
      width: 216px;
      height: 27px;
      border:1px solid black;
      padding:0px;
      border-radius: 3px;
      position: absolute;
      right: 1px;
      top: 3px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: #316282;
      >input:nth-child(1){
        width: 180px;
        height: 25px;
        background: #316282;
        border: none;
        margin-left: 6px;
        color: grey;
      }
      >input:nth-child(2){
        width: 25px;
        height: 25px;
        border-radius: 3px;
        border: none;
        margin: 0;
        background: #377096;
        font-size: 20px;
        text-align: center;
        align-items: center;
        padding: 0;
      }
    }
  }
  
  // 精选和推荐标题
  #title1{
    height:22px ;
    font-size: 14px;
    color: #fff;
    float: left;
    margin: 120px 0 10px;
    
  }
  // 轮播图1
  #banner1{
    height: 472px;
    width: 940px;
    position: relative;
    top:150px;
    color: white;
    // margin-top: 100px;
    // 主体
    #bannerBody1{
        width: 940px;
        height: 352px;
        position: absolute;
        overflow: hidden;
        top: 0;
        // overflow: hidden;
      #bannerBox1{
        position: absolute;
        top: 0;
        opacity: 1;
        .bBox{
          width:100%;
          height: 360px;
          // overflow: hidden;
          display: flex;
          
          h3{
            font-size: 24px;
            line-height: 26px;
            overflow: hidden;
            height: 66px;
            width: 302px;
            padding:5px 0;
            margin: 0 0 0 10px;

          }
          h4{
            font-size: 22px;
            line-height: 22px;
            height: 24px;
            width: 100%;
            padding:20PX;
          }
          h5{
            width: 100%;
            height: 26px;
            font-size: 14px;
            position: relative;
            span{
              position: absolute;
              display: inline-block;
              height: 20px;
              line-height: 20px;
              padding:5PX 3px;
            }
            span:nth-child(1){
              color: white;
              background: green;
              border-radius: 3px;
  
              left: 0;
            }
            span:nth-child(2){
              color: white;
              left: 50px;
            }
            span:nth-child(3){
              color: white;
              right: 0;
            }
            span:nth-child(4){
              color: white;
              right: 25px;
            }
            span:nth-child(5){
              color: white;
              right: 50px;
            }
          }
          span{
            font-size: 12px;
  
          }
          >img{
            height: 100%;
          }
          >div{
            background: black;
            height: 94%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: flex-start;
            >div{
              width: 100%;
              height: 160px;
              display: flex;
              flex-flow: wrap;
              >a{
                width: 49%;
                height: 79px;
                >img{
                  width: 100%;
                  height: 100%;
                  opacity: 0.6;
                }
                // 此处的图片还需要一个mouseenter事件，使得大图变成对应的图片
                &:hover img{
                  opacity: 1;
                }
              }
            }
          }
        }
      }

        
    }
    // 标点
    #bannerPoint1{
      position: absolute;
      bottom: 0px;
      // background: blue;
      height: 120px;
      width: 100%;
      display: flex;
      justify-content: center;
      #pointbox{
        margin-top: 15px;
        height: 10px;
        width: 280px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
          height: 10px;
          width: 20px;
          border-radius: 4px;
          background: white;
          opacity: 0.5;
        }
        .active{
          background: orange;
        }

      }
    }
    // 左右箭头
    #arrow_left_right{
      height: 108px;
      width: 100%; 
      position: absolute;
      top:122px;
      button{
        padding: 36px 11px;
        line-height: 36px;
        font-size: 36px;
        background: rgba(255,255,255,.3);
        border: none;
        // opacity: 0.2;
      }
      #left{
        position: absolute;
        left:-45px;
      }
      #right{
        position: absolute;
        right: -45px;
      }
    }
  }
  // title2
  #title2{
    width: 100%;
    height:22px ;
    font-size: 14px;
    color: #fff;
    float: left;
    margin: 120px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      border: 1px solid white;
      padding: 3px 15px;
      color: white;
    }
  }
  // 轮播图2
  #banner2{
    height: 472px;
    width: 940px;
    position: relative;
    top:150px;
    color: white;
    // margin-top: 100px;
    // 主体
    #bannerBody2{
      width: 940px;
      height: 352px;
      position: absolute;
      overflow: hidden;
      top: 0;
        // overflow: hidden;
      #bannerBox2{
        position: absolute;
        top: 0;
        opacity: 1;
        .bBox{
          width:100%;
          height: 360px;
          // overflow: hidden;
          display: flex;
          justify-content: space-between;
          align-items: center;
          #bBox_in_a{
            width: 32%;
            
            height: 100%;
            background: orange;
            color: white;
            img{
              height: 80%;
              width: 100%;

            }
            div{
              height: 20%;
              width: 100%;
              position: relative;
              display: flex;
              span{
                font-size: 16px;
                height: 20px;
                padding: 5px 10px;
                position: absolute;
                margin: 0 0 10px;
              }
              span:nth-child(1){
                background: green;
                right: 60px;
                bottom: 10px;
                
              }
              span:nth-child(2){
                background: black;
                right: 10px;
                bottom: 10px;
              }
            }
          }
          #bBox_in_b{
            width: 32%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            background: orange;
            color: white;
            #bBox_in_bb{
              height: 49%;
              width: 100%;
              background:red;
              img{
                width: 100%;
                height: 80%;
                
              }
              div{
                height: 20%;
                width: 100%;
                position: relative;
                display: flex;
                span{
                  font-size: 12px;
                  height: 20px;
                  padding: 5px 10px;
                  position: absolute;
                  margin: 0 0 10px;
                  color: white;
                }
                span:nth-child(1){
                  background: green;
                  right: 60px;
                  bottom: 10px;
                  
                }
                span:nth-child(2){
                  background: black;
                  right: 10px;
                  bottom: 10px;
                }
              }
            }
          }
        }
      }

        
    }
    // 标点
    #bannerPoint2{
      position: absolute;
      bottom: 0px;
      // background: blue;
      height: 120px;
      width: 100%;
      display: flex;
      justify-content: center;
      #pointbox{
        margin-top: 15px;
        height: 10px;
        width: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
          height: 10px;
          width: 20px;
          border-radius: 4px;
          background: white;
          opacity: 0.5;
        }
        .active{
          background: orange;
        }

      }
    }
    // 左右箭头
    #arrow_left_right2{
      height: 108px;
      width: 100%; 
      position: absolute;
      top:122px;
      button{
        padding: 36px 11px;
        line-height: 36px;
        font-size: 36px;
        background: rgba(255,255,255,.3);
        border: none;
        // opacity: 0.2;
      }
      #left{
        position: absolute;
        left:-45px;
      }
      #right{
        position: absolute;
        right: -45px;
      }
    }
  }
  // title3
  #title3{
    width: 100%;
    height:22px ;
    font-size: 14px;
    color: #fff;
    float: left;
    margin: 120px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      border: 1px solid white;
      padding: 3px 15px;
      color: white;
    }
  }
  // 轮播图3
  #banner3{
    height: 472px;
    width: 940px;
    position: relative;
    top:150px;
    color: white;
    // margin-top: 100px;
    // 主体
    #bannerBody3{
        width: 940px;
        height: 352px;
        position: absolute;
        overflow: hidden;
        top: 0;
        // overflow: hidden;
      #bannerBox3{
        position: absolute;
        top: 0;
        opacity: 1;
        .bBox{
          width:100%;
          height: 360px;
          // overflow: hidden;
          display: flex;
          >img{
            height: 100%;
          }
          >div{
            background: #17435F;
            height: 94%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: flex-start;
            line-height: 30px;
            font-size: 16px;
            padding: 10px;
            border-right: 2px solid white;
          }
        }
      }

        
    }
    // 标点
    #bannerPoint3{
      position: absolute;
      bottom: 0px;
      // background: blue;
      height: 120px;
      width: 100%;
      display: flex;
      justify-content: center;
      #pointbox{
        margin-top: 15px;
        height: 10px;
        width: 220px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
          height: 10px;
          width: 20px;
          border-radius: 4px;
          background: white;
          opacity: 0.5;
        }
        .active{
          background: orange;
        }

      }
    }
    // 左右箭头
    #arrow_left_right3{
      height: 108px;
      width: 100%; 
      position: absolute;
      top:122px;
      button{
        padding: 36px 11px;
        line-height: 36px;
        font-size: 36px;
        background: rgba(255,255,255,.3);
        border: none;
        // opacity: 0.2;
      }
      #left{
        position: absolute;
        left:-45px;
      }
      #right{
        position: absolute;
        right: -45px;
      }
    }
  }

  // 四个按钮
  #four_btn{
    height:95px ;
    width: 100%;
    margin: 100px 0 25px;
    // background: pink;
    #title4{
      font-size: 14px;
      padding: 2px 0 0 0;
      margin: 10px 0 ;
      color: white;
    }
    #four_btn_in{
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a{
        background: url(../images/button_bg.jpg) no-repeat 0 0;
        font-size: 18px;
        height: 60px;
        width: 226px;
        color: white;
        line-height: 60px;
        text-align: center;
        opacity: 0.6;
        &:hover{
          opacity: 0.8;
          color: white;
          font-weight: bolder;
        }
      }
    }
  }


  // 社区推荐title5
  #title5{
    width: 100%;
    height:22px ;
    font-size: 14px;
    color: #fff;
    float: left;
    margin: 60px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      border: 1px solid white;
      padding: 3px 15px;
      color: white;
    }
  }

  // 热门vr游戏
  #vr_games{
    width: 100%;
    height: 280px;
    padding: 20px 0 ;
    margin: 160px 0;
    border: 1px solid black;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-flow: wrap;
    #vr_game{
      display: inline-block;
      height: 140px;
      width: 23%;
      img{
        height: 75%;
        width: 100%;
      }
      div{
        background:orange;
        width: 100%;
        height: 25%;
        color: white;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        span{
          text-align: center;
          line-height: 100%;
          display: inline-block;
          padding:5px 10px;
          float: right;
        }
        span:nth-child(1){
          background: green;
          opacity: 0.8;
        }

      }
    }
  }

  // 游戏列表/选项卡加侧边栏弹出菜单
  #game_list_card{
    width: 100%;
    height: 815px;
    background:#17435f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #game_list{
      width: 620px;
      height: 100%;
      background: #17435f;
      >ul{
        height: 35px;
        display: flex;
        justify-content: flex-start;
        color: skyblue;
        >button{
          font-size: 14px;
          line-height: 24px;
          padding: 0 10px;
          background: rgba($color: #000000, $alpha: 0);
          border: none;
          &:hover{
            color: white;
          }
        }
        .aactive{
          background: #afd2e7;
        }
      }
      >div{
        margin: 10px 0 0;
        ol{
          padding-left: 5px;
          display: none;
          a{    
            // position: relative;
            // display: flex;
            // justify-content: flex-start;
            // align-items: center;
            background: #16202d;
            float: left;
            height: 70px;
            width: 100%;
            padding-right: 2px;
            margin:0 1px 6px 0;
            >div{
              float: left;
              display: flex;
              flex-flow: column;
              span{
                display: inline-block;
                height: 20px;
                color:white;
                padding-left: 10px;
                margin-top: 3px;
                line-height: 20px;
              }
              span:nth-child(1){
                font-size: 14px;
              }
              span:nth-child(2){
                font-size: 12px;
                
              }
              span:nth-child(3){
                font-size: 12px;
              }
            }
            img{
              float: left;
            }
            p{
              float: right;
              width: 100px;
              height: 50px;
              text-align: center;
              font-size: 16px;
              line-height: 30px;
              padding: 10px;
              // margin-left: 200px;
              margin-right: 20px;
              color: white;
            }
          }
          >.active{
            background: skyblue;
            padding-right: 10px;
            // color: black;
          }
        }
        ol:nth-child(1){
          display: block;
          border: 1px solid red;

        }
        ol:nth-child(2){
          display: none;
          border: 1px solid purple;
          opacity: 0.8;
          
        }
        ol:nth-child(3){
          display: none;
          border: 1px solid pink;
          opacity: 0.5;
          
        }
      }  
    }
    #card{
      width: 310px;
      height: 92%;
      margin: 4% 0 0;
      background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1598359022244&di=d1230262bc8b2563d03c04a2ddaf21f1&imgtype=0&src=http%3A%2F%2Fpic.ibaotu.com%2F01%2F01%2F40%2F60w888piCGaf.jpg-0.jpg%2521w340") no-repeat;
      background-size: 100% 100%;
      border: 1px solid white;
      .cardbox{
        display: none;
        width: 100%;
        height: 100%;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        img{
          width: 100%;
          height: 33%;
        }
        &:nth-child(1){
          display: block;
        }
      }
      .show{
        display: block;
      }

    }
    
  }
}


// footer
#footer{
  height: 150px;
  width: 100%;
  padding:20px 0 60px;
  background: #1B2838;
  // position: absolute;
  margin-top: 4000px;
  hr{
    margin-bottom: 8px;
    color: #969E93;
  }
  ul{
    height: 22px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li{
      height: 22px;
      background: #383B41;
      margin: 0 5px;
      border-radius: 4px;
      overflow: hidden;
      a{
        font-size: 12px;
        height: 100%;
        padding: 0 15px;
        line-height: 100%;
        text-align: center;
        color: #969E93;
        &:hover{
          color: white;
        }
      }
    }
  }
  #div1{
    height: 28px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
      height: 26px;
      width: 90px;
    }
    div{
      font-size: 12px;
      width: 600px;
      margin: 0 200px 0 20px;
      color: white;
      a{
        font-size: 12px;
        color: white;
        &:hover{
          color: white;
        }
      }
    }
  }
  #div2{
    width: 60%;
    height: 22px;
    display: flex;
    justify-content: space-around;
    color: #969E93;
    a{
      font-size: 12px;
      color: #969E93;
      line-height: 22px;
      text-align: center;
      &:hover{
        color: white;
      }
    }
  }
}
