@import "reset";
@import "mixin";
a{
  text-decoration: none;
}
html,body{
  height: 1000px;
  color: white;
}
body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1B2838;
  // position: relative;
}

// 主体
.container{
  width: 940px;
  height: 1000px;
  background: #1B2838;
}

.header{
  width: 940px;
  height: 104px;
  background: black;
  color: grey;
  position: relative;
  >a{
    width: 176px;
    height: 44px;
    position: absolute;
    top:30px;
    left:5px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  #nav1{
    height: 68px;
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 200px;

    li{
      height: 68px;
      width: 42px;
      padding: 45px 7px 7px 7px;
      font-size: 14px;
      text-align: center;
      line-height: 68px;
      .jump1{
        display:none;
        // height: 200px;
        width: 100px;
        >a{
          height: 30px;
          width: 80px;
          font-size: 12px;
          margin: 0;
          padding:0;
          line-height: 30px;
          padding-left: 10px;
          text-align: left;
          color:white;
        }
      }
      &:hover{
        color: white;
        .jump1{
          display:flex;
          flex-flow: column;
          justify-content: space-around;
          align-items: flex-start;
          background: black;
          position: absolute; 
          z-index: 10;
        }
      } 
    }
  }
  .l_l{
    width: 80px;
    height: 30px;
    margin-top: 10px;
    float: left;
    position:absolute;
    top:0;
    right: 0;
    li{
      height: 30px;
      font-size: 14px;
      float: left;
      display: flex;
      padding-left: 5px;
      position: relative;
      a{
        width: 35px;
        height: 14px;
        border-right:1px white solid;
        padding-right: 5px;
        color: grey;
      }
      #langue{
        display: none;
        width: 120px;
        position:absolute;
        right: 0;
        top:30px;
        background: black;
        color: white;
        // border:1px solid grey;
        li{
          height: 30px;
          font-size: 14px;
          width: 120px;
          line-height: 30px;
          text-align: left;
          padding-left: 10px;
        }

      }
      &:hover #langue{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
      }    
    }
  }
}


// 主体
.content{
  height: 66px;
  width: 100%;
  position: relative;
  // 购物车
  // #goodsBasket{
    
  //   width: 50px;
  //   padding: 0 25px;
  //   background: yellowgreen;
  //   font-size: 12px;
  //   text-align: center;
  //   line-height: 20px;
  //   margin: 7px 0px 4px ;
  //   position:absolute;
  //   right: 0;
  // }
  // 导航和搜索框
  #nav_search{
    height: 35px;
    width: 100%;
    background: #377096;
    // margin-top: 35px;
    // overflow: hidden;
    position: relative;
    #nav2{
      height: 35px;
      width: 436px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      li{
        font-size: 13px;
        padding: 0 15px;
        line-height: 35px;
        text-align: center;
        border-right: 1px solid black;
        >a{
          height: 100%;
          width: 100%;
          color: #9FA6A6;
          
        }
        .jump2{
          max-height: 300px;
          // width: 400px;
          // max-width: 400px;
          display: none;
          position: absolute;
          left: 0;
          z-index: 10;
          background: #fff;
          line-height: 30px;
          text-align: left;
          flex-flow: column wrap;
          justify-content: flex-start;
          align-items: flex-start;
          padding-left: 5px;
          >a{
            color: black;
            font-size: 12px;
          }
          
        }
        #jump2_f{
          width: 100px;
        }
        #jump2_s{
          width: 400px;
        }
        &:hover{
          background: white;
          >a{
            color: black;
          }
          .jump2{
            display:flex;
          }
        } 
      }
    }
    #search{
      width: 216px;
      height: 27px;
      border:1px solid black;
      padding:0px;
      border-radius: 3px;
      position: absolute;
      right: 1px;
      top: 3px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: #316282;
      >input:nth-child(1){
        width: 180px;
        height: 25px;
        background: #316282;
        border: none;
        margin-left: 6px;
        color: grey;
      }
      >input:nth-child(2){
        width: 25px;
        height: 25px;
        border-radius: 3px;
        border: none;
        margin: 0;
        background: #377096;
        font-size: 20px;
        text-align: center;
        align-items: center;
        padding: 0;
      }
    }
  }
  #login_about{
    width: 940px;
    height: 500px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    #login_box{
      width: 616px;
      height: 436px;
      background: #16202D;
      color: white;
      margin: 16px 16px 16px 0;
      padding: 16px;
      >a{
        font-size: 14px;
        columns: white;
      }
      #login_l_box{
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        div h2{
          font-size: 18px;
          padding: 3px 0;
          margin:10px 0;
        }
        div h5{
          font-size: 14px;
          padding:3px 0;
          margin: 10px 0;
        }
        #login_left{
          width: 49%;
          height: 100%;
          background: #16202D;
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          #form1{
            font-size: 14px;
            flex-flow: column;
            justify-content: flex-start;
            align-items: flex-start;
            label{
              display: block;
              margin-top: 10px;
            }
            input{
              height: 22px;
              width: 264px;
              margin: 4px 0;
              padding: 5px 1px;
              border: 1px solid grey;
              border-radius: 5px;
              background: #121A24;
              color: white;
            }
          }
          #btn1{
            height: 32px;
            width: 60px;
            background: #274155;
            color:#FFF;
            font-size: 12px;
            line-height: 32px;
            text-align: center;
            margin: 50px 3px;
            border: none;
            border-radius: 5px;
          }
        }
        #login-right{
          width: 49%;
          height: 100%;
          background: #16202D;
          p{
            width: 274px;
            height: 54px;
            font-size: 12px;
            line-height: 16px;
            margin: 20px 0 140px;
          }
          a{
            color: white;
            height: 30px;
            line-height: 30px;
            padding: 6px 20px;
            background: #274155;
            border-radius: 5px;
            border: none;
          }
        }
      }
    }
    #about_us{
      height: 380px;
      width: 290px;
      margin: 16px 0;
      padding: 16px;
      background: #16202D;
      h2{
        font-size: 14px;
        margin: 20px 0;
        padding-left: 20px;
      }
      ul li{
        margin-bottom: 10px;
        font-size: 12px;
        padding-left: 10px;
      }
      img{
        margin-bottom: 50px;
      }
    }
  }



}

// footer
#footer{
  height: 150px;
  width: 100%;
  padding:20px 0 60px;
  background: #1B2838;
  // position: absolute;
  margin: 500px 0 0 0;
  hr{
    margin-bottom: 8px;
    color: #969E93;
  }
  ul{
    height: 22px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li{
      height: 22px;
      background: #383B41;
      margin: 0 5px;
      border-radius: 4px;
      overflow: hidden;
      a{
        font-size: 12px;
        height: 100%;
        padding: 0 15px;
        line-height: 100%;
        text-align: center;
        color: #969E93;
        &:hover{
          color: white;
        }
      }
    }
  }
  #div1{
    height: 28px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
      height: 26px;
      width: 90px;
    }
    div{
      font-size: 12px;
      width: 600px;
      margin: 0 200px 0 20px;
      color: white;
      a{
        font-size: 12px;
        color: white;
        &:hover{
          color: white;
        }
      }
    }
  }
  #div2{
    width: 60%;
    height: 22px;
    display: flex;
    justify-content: space-around;
    color: #969E93;
    a{
      font-size: 12px;
      color: #969E93;
      line-height: 22px;
      text-align: center;
      &:hover{
        color: white;
      }
    }
  }
}